<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NanoTools2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NanoTools2.Properties.Settings>
            <setting name="SelectDir" serializeAs="String">
                <value />
            </setting>
            <setting name="GuppyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SelecedTab" serializeAs="String">
                <value />
            </setting>
            <setting name="UseConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="Date" serializeAs="String">
                <value>v20.02.18</value>
            </setting>
        </NanoTools2.Properties.Settings>
    </userSettings>
</configuration>